html{
	height: 100%;
}
body{
	height: 100%;
	margin: 0;
	font-family: Open Sans, Helvetica, Arial, sans-serif !important;
}
#grey{
	color: #bbb;
	font-size: 40px;
}
#red{
	color: #DA4F49;
}
.square{
	background-color: #eee;
	display: inline-block;
	margin: 0 !important;
	width: 33.333333% !important;
	padding: 0;
	margin-bottom: 10px;
}
a#logo{
	font-family: Open Sans Condensed;
	color: #2F96B4;
	text-decoration: none;
}
#thinmenu{
	margin-top: 8px;
}
#projectmain{
	background-color: #eee;
	min-height: 240px;
}
#projectinfo{
	margin-top: 1%;
}
#projectblog{

}
#projectmembers{
	background-color: #eee;
}
@media(min-width: 694px){
	#thinmenu{
		display: none;
	}
}
@media(max-width: 694px){
	#widemenu{
		display: none;
	}
}
@media(max-width: 325px){
	#widemenu{
		display: none;
	}
	#thinmenu{
		display: none;
	}
}