html{
	font-family: Open Sans;
}
body{
	margin: 0;
}
#grey{
	color: #bbb;
	font-size: 40px;
}
#red{
	color: #DA4F49;
}
.square{
	background-color: #eee;
	display: inline-block;
	margin: 0;
	padding: 0;
}
a#logo{
	color: #2F96B4;
	text-decoration: none;
}