html,body{
	margin: 0;
	padding: 0;
}
html{
	font-family: arial;
	color: #ccc;
}
body{
	background-color: #333;
	margin: 0;
}

/* styles for basic building blocks */
#gigabot{
	position: absolute;
	z-index: 99999;
	margin-left: 360px;
	margin-top: 0px;
}
#header{
	background-color: #434343;
	padding: 10px 1% 10px 1%;
}
#content{
	background-color: #777;
	margin: 0;
	padding: 0 .5% 1% .5%;
}
#footer{
	text-align: center;
	color: #777;
	background-color: #333;
	padding: 10px;
	float: none;
	clear: both;
}

/* styles for squares and their components */
.square{
	background-color: #555;
	display: inline-block;
	margin: 0;
	width: 24%;
	margin-left: .5%;
	margin-right: .5%;
	margin-top: 1%;
	margin-bottom: 0;
}

/* menu styles */
#menu_container{
	float: right;
	font-size: 18px;
}
#menu_container div.button:first-child{
	border-radius: 14px 0px 0px 14px;
	padding-left: 12px;
}
#menu_container div.button:last-child{
	border-radius: 0px 14px 14px 0px;
	padding-right: 4px;
}
.menu_element{
	display: inline-block;
	margin: 1px !important;
	padding: 8px 8px 8px 8px;
}
.button{
	cursor: pointer;
	background-color: #666;
}
.button:hover{
	background-color: #777;
}
input#search{
	background-color: #666;
	border: none;
	outline: none;
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	margin: 0;
}
input#search:focus{
	transition: .3s;
	box-shadow: 0px 0px 2px 1px white;
	background-color: #777;
}
#search_button{
	padding: 1px 0px 1px 0px;
	vertical-align: middle;
}

/* @media queries from here on out */
@media (max-width: 945px){
	#gigabot{
		display: none;
	}
}
@media (max-width: 845px){

}
@media (max-width: 620px){
	#menu_container{
		
	}
	#header{
		text-align: center;
	}
}