@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);
/* also used on footer */
body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #cccccc;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Margin bottom by footer height */
  margin-bottom: 65px;
  background-image: url("/static/projects/MilkyWayWallpaper.jpg"); }

html {
  position: relative;
  min-height: 100%; }

a {
  color: #408ED5 !important; }

a:hover {
  color: #65B4FA !important; }

div#content {
  margin-top: 55px; }

div.spacer {
  height: 100px;
  position: relative; }

/* 
 * Custom CSS for the global site header and footer.
 */
.navbar {
  background-color: #434343;
  padding: 10px 10px 10px 10px;
  z-index: 999;
  border-radius: 0;
  height: 56px; }

img#logo {
  height: 35px; }

.btn-default {
  border-radius: 10px 10px 10px 0;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #408ED5 !important;
  border-color: #408ED5 !important;
  cursor: pointer;
  color: #FFF !important;
  text-decoration: inherit; }

.btn-default:hover {
  background-color: #65B4FA !important;
  border-color: #65B4FA !important;
  color: #FFF !important; }

.btn-default:active {
  background-color: #509EE5;
  border-color: #509EE5; }

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  border-radius: 0 10px 10px 0; }

.navbar-inverse .navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #cccccc !important; }

.navbar-inverse .navbar-nav > li > a:hover {
  color: #EEE !important; }

.navbar-inverse .navbar-nav > li > a.btn {
  color: #FFF !important; }

.navbar-inverse .navbar-nav > li > a:hover.btn {
  background-color: #65B4FA;
  border-color: #65B4FA; }

.navbar-inverse .navbar-toggle {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #408ED5;
  border-color: #408ED5; }

.navbar-inverse .navbar-toggle:hover {
  background-color: #65B4FA;
  border-color: #65B4FA; }

.navbar-inverse .navbar-toggle:focus {
  background-color: #509EE5;
  border-color: #509EE5; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #FFF; }

.navbar-form {
  margin: 0;
  margin-left: 15px; }

.navbar-inverse .navbar-collapse {
  background-color: #434343;
  border-top: none;
  box-shadow: none; }

.tooltip-inner {
  width: 70px;
  font-size: 8pt;
  background-color: #222; }

.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #222; }

/* Header search box */
.form-search .search-query:first-child {
  width: 200px;
  border-radius: 10px 0px 0px 0; }

.input-group-addon, .input-group-btn {
  width: auto; }

/* Footer */
.col-md-12 {
  padding-left: 0;
  padding-right: 0; }

div.footer {
  background-color: #434343;
  text-align: left;
  color: #cccccc;
  padding: 0px;
  height: 65px;
  width: 100%;
  margin-top: -65px;
  position: absolute;
  bottom: 0; }
  div.footer a {
    color: #cccccc !important; }
  div.footer a:hover {
    color: #EEE !important; }
  div.footer img {
    height: 32px;
    margin-right: 10px; }
  div.footer a.logo {
    font-size: 14pt; }
  div.footer a.footer-link {
    font-size: 11pt;
    margin-left: 15px; }
  div.footer .row {
    margin: 15px; }
  div.footer .copyright {
    text-align: right;
    float: right;
    font-size: 8pt;
    line-height: 32px; }

/*
 * Custom CSS for the homepage.
 */
div.welcome {
  display: inline-block;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 200px;
  text-align: left;
  color: white;
  font-size: 12pt; }
  div.welcome h1 {
    margin-top: 0; }
  div.welcome .form-control {
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 0;
    height: 40px; }
  div.welcome small {
    color: #cccccc; }
  div.welcome .btn {
    width: 100%;
    height: 40px;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px 10px 10px 10px;
    background-color: #cccccc;
    border-color: #cccccc;
    color: #000; }
  div.welcome .btn-default {
    width: 100%;
    height: 40px;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px 0px 10px 10px; }

/*
 * Custom CSS for other pages.
 */
.form-control {
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 0; }

.btn-up {
  border-radius: 10px 0px 10px 10px; }

.btn-login {
  width: 100% !important;
  margin-left: 0 !important;
  border-radius: 0px 10px 10px 10px; }

.login {
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;
  height: 40px; }

.float-right {
  float: right;
  padding-left: 15px; }

.alert {
  margin-top: 15px; }

.alert-danger {
  background-color: #dc9596;
  color: #b9292c; }

.has-error .control-label {
  color: #b9292c; }

.has-error .form-control {
  border-color: #b9292c; }

/* Project pages */
div.project-content {
  padding-top: 75px;
  width: 100%;
  border-radius: 10px 10px 10px 0;
  color: white; }
  div.project-content h1 {
    margin-top: 0px; }

div#page_content {
  color: white; }
  div#page_content .editor-toolbar a {
    color: white !important; }

/* 
 * Custom @media directives.
 */
@media (max-width: 991px) {
  .float-right {
    float: none; }

  .footer {
    display: none; }

  body {
    margin-bottom: 0; }

  div.spacer {
    height: 0px; }

  .form-search .search-query:first-child {
    width: 165px; } }
