@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);

$font_family: 'Open Sans', sans-serif !important;
$bg_color: #CCC;
$navbar_color: #434343; /* also used on footer */
$btn_color: #408ED5;


body{
	font-family: $font_family;
	background-color: $bg_color;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    /* Margin bottom by footer height */
    margin-bottom: 65px;
	background-image: url('/static/projects/MilkyWayWallpaper.jpg');
}
html {
    position: relative;
    min-height: 100%;
}

a {
    color: #408ED5 !important;
}
a:hover {
    color: #65B4FA !important;
}
div#content {
    margin-top: 55px;
}
div.spacer {
    height: 100px;
    position:relative;
}

/* 
 * Custom CSS for the global site header and footer.
 */

.navbar {
	background-color: $navbar_color;
	padding: 10px 10px 10px 10px;
	z-index: 999;
    border-radius: 0;
    height: 56px;
}

img#logo{
	height: 35px;
}

.btn-default {
	border-radius: 10px 10px 10px 0;
	margin-right: 6px;
	margin-left: 6px;
	background-color: #408ED5 !important;
	border-color: #408ED5 !important;
	cursor: pointer;
	color: #FFF !important;
	text-decoration: inherit;
}
.btn-default:hover{
	background-color: #65B4FA !important;
	border-color: #65B4FA !important;
	color: #FFF !important;
}
.btn-default:active{
	background-color: #509EE5;
	border-color: #509EE5;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    border-radius: 0 10px 10px 0;
}
.navbar-inverse .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
	//margin-left: 6px;
    color: $bg_color !important;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #EEE !important;
}

.navbar-inverse .navbar-nav > li > a.btn {
    color: #FFF !important;
}
.navbar-inverse .navbar-nav > li > a:hover.btn {
	background-color: #65B4FA;
	border-color: #65B4FA;
}
.navbar-inverse .navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
	background-color: #408ED5;
    border-color: #408ED5;
}
.navbar-inverse .navbar-toggle:hover {
	background-color: #65B4FA;
	border-color: #65B4FA;
}
.navbar-inverse .navbar-toggle:focus {
	background-color: #509EE5;
	border-color: #509EE5;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-form {
    margin: 0;
    margin-left: 15px;
}
.navbar-inverse .navbar-collapse {
    background-color: $navbar_color;
    border-top: none;
    box-shadow: none;
}
.tooltip-inner {
    width: 70px;
    font-size: 8pt;
    background-color: #222;
}
.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #222;
}

/* Header search box */
.form-search .search-query:first-child {
    width: 200px;
	border-radius: 10px 0px 0px 0;
}
.input-group-addon, .input-group-btn {
    width: auto;
}

/* Footer */
.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}
div.footer{
    background-color: $navbar_color;
    text-align: left;
    color: $bg_color;
    padding: 0px;
    height: 65px;
    width: 100%;
    margin-top: -65px;
    position: absolute;
    bottom: 0;
    a {
    color: $bg_color !important;
    }
    a:hover {
    color: #EEE !important;
    }
    img {
    height: 32px;
    margin-right: 10px;
    }
    a.logo {
    font-size: 14pt;
    }
    a.footer-link {
    font-size: 11pt;
    margin-left: 15px;
    }
    .row {
    margin: 15px;
    }
    .copyright {
    text-align: right;
    float: right;
    font-size: 8pt;
    line-height: 32px;
    }
}

/*
 * Custom CSS for the homepage.
 */

div.welcome {
    display: inline-block;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 200px;
    //background-color: rgba(0,0,0,0.5);
    text-align: left;
    color: white;
    font-size: 12pt;
    h1 {
        margin-top: 0;
    }

    .form-control {
        margin-bottom: 10px;
        border-radius: 10px 10px 10px 0;
        height: 40px;
    }

    small {
        color: $bg_color;
    }

    .btn {
        width: 100%;
        height: 40px;
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 10px 10px 10px 10px;
        background-color: $bg_color;
        border-color: $bg_color;
        color: #000;
    }

    .btn-default {
        width: 100%;
        height: 40px;
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 10px 0px 10px 10px;
    }
}

/*
 * Custom CSS for other pages.
 */

.form-control {
    margin-bottom: 10px;
	border-radius: 10px 10px 10px 0;
}
.btn-up {
	border-radius: 10px 0px 10px 10px;
}

.btn-login {
    width: 100% !important;
    margin-left: 0 !important;
	border-radius: 0px 10px 10px 10px;
}
.login {
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;
    height: 40px;
}
.float-right {
    float: right;
    padding-left: 15px;
}

.alert {
    margin-top: 15px;
}
.alert-danger {
    background-color: #dc9596;
    color: #b9292c;
}
.has-error .control-label {
    color: #b9292c;
}
.has-error .form-control {
    border-color: #b9292c;
}



/* Project pages */
div.project-content {
    padding-top: 75px;
    width: 100%;
	border-radius: 10px 10px 10px 0;
    color: white;

    h1 {
        margin-top: 0px;
    }
}
div#page_content {
    color: white;

    .editor-toolbar a {
        color: white !important;
    }
}

/* 
 * Custom @media directives.
 */

@media (max-width: 991px){
    .float-right {
        float: none;
    }
    .footer {
        display: none;
    }
    body {
        margin-bottom: 0;
    }
    div.spacer {
        height: 0px;
    }
    .form-search .search-query:first-child {
        width: 165px;
    }
}
