{% extends "projects/base.html" %}
{% load staticfiles %}

{% block title %}About | ACMx Labs{% endblock %}

{% block content %}
    <div class="welcome">
      <div class="container-fluid col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="row">
          <p>ACM is not only the Colorado School of Mines student branch of the
          Association for Computing Machinery, but also a project-oriented group
          dedicated to improving student life through technology.
          </p>

          <p>Becoming an ACMx member is free, and meetings are held weekly on
          campus when school is in session.  Meetings typically last around 90
          minutes, and are used to plan group events, give project status updates,
          and for project breakout time.  Groups often meet individually for longer
          periods to just work on their projects.
          </p>

          <p>Projects are student-initiated and student-led, funded by the ACMx
          group budget and donations.  To join an ACMx project group, or to propose
          your own project idea, come to a meeting!
          </p>
        </div>
      </div>
    </div>
{% endblock %}