{% extends "projects/base.html" %}
{% load staticfiles %}
{% block title %}About | ACMx Labs{% endblock %}
{% block content %}
  <div class="slider">
    <div class="welcome">
      <div class="container-fluid col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="row">
          <h1>About ACMx</h1>
          <p>ACMx is the student branch of the Association for Computing Machinery at the Colorado School of Mines. Alongside the separate branch of ACM-W, we are a group specifically dedicated to building technical projects to benefit the student body, funded by the group budget and donations. We also work together with a variety of organizations in outreach programs throughout the community.</p>
          <p>For those interested in joining ACMx, membership is completely free, and attendance is not mandatory. It's not a class, it's not a research project. There are no grades, there are no teachers, and there are no tests. Instead, we work to our own schedules under our own leadership. If you want to get things done, then it's up to you to work with your team on your project. </p>
          <p>Meetings are held twice a week on campus when school is in session. Typically, we get together for around 90 minutes each meeting to plan events, get updates on projects, and get to work! To meet our own deadlines and accomplish our own goals, groups often meet individually for longer periods to just work on their projects.</p>
          <p>We are a devoted group of individual students from all class levels, all backgrounds, and all experience levels. Whether you're a novice programmer looking to get experience, an experienced programmer looking to hone their development skills, or even just someone looking to meet new people, come to a meeting and start helping the student body! If you're interested in learning more about the club, check out the project pages on this site, or join the mailing list.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}