{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'projects/newstyle.css' %}">
    </link>
    <!-- js -->
    <script type="text/javascript" src="{% static 'projects/jquery.js' %}">
    </script>
    <title>{% block title %}ACMx Labs{% endblock %}</title>
</head>
<body>
    <div id="header">
        {% block header %}
        <a href="{% url 'projects:index' %}">
            <img id="logo" src="{% static 'projects/acmx.png' %}" alt="ACMx" />
        </a>
        <div id="buttons">
            <div class="button"><a href="{% url 'projects:about' %}">about</a></div>
            <div class="button"><a href="{% url 'projects:contact' %}">contact</a></div>
            <div class="button"><a href="{% url 'projects:support' %}">support us</a></div>
            <div class="button"><a href="{% url 'projects:registration:auth_login' %}">sign in</a></div>
            <input id="search" type="Text" placeholder="Search" />
        </div>
        {% endblock %}
    </div>

    <div id="container">
        {% block content %}
            <!-- Main page content goes here -->
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        &copy; 2014 ACMx
        {% endblock %}
    </div>
</body>
</html>
