{% extends "projects/base.html" %}
{% load staticfiles %}

{% block title %}Contact | ACMx Labs{% endblock %}

{% block content %}
    <div class="slider">
      <div class="welcome">
        <div class="container-fluid col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="row" style="align: middle">
            <h1>Contact us!</h1>
            <br>

            <p>Click <a href="https://mailman.mines.edu/mailman/listinfo/acmx">here</a> to join our Mailing List!</p><br>
            <a href="https://github.com/ColoradoSchoolOfMines"><i class="fa fa-github fa-4x"></i>&nbsp;GitHub</a><br><br>
            <a href="https://trello.com/acmx"><i class="fa fa-trello fa-4x"></i>&nbsp; Trello</a><br><br>
            <a href="https://twitter.com/acmxlabs"><i class="fa fa-twitter fa-4x"></i>&nbsp; Twitter</a><br><br>

          </div>
        </div>
      </div>
    </div>
{% endblock %}
