{% extends "projects/base.html" %}
{% load staticfiles %}

{% block title %}Contact | ACMx Labs{% endblock %}

{% block content %}
    <div class="welcome">
      <div class="container-fluid col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="row">
          <p>Contact us!
          </p>
          <ul>
            <li><a href="https://twitter.com/acmxlabs">Twitter</a></li>
            <li><a href="https://github.com/ColoradoSchoolOfMines">GitHub</a></li>
            <li><a href="https://mailman.mines.edu/mailman/listinfo/acmx">Mailing list</a></li>
            <li><a href="https://trello.com/acmx">Trello</a></li>
            <li>IRC: #acmx on Freenode <a href="https://webchat.freenode.net/?channels=acmx">(webchat)</a></li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
