{% extends "projects/base.html" %}
{% load staticfiles %}

{% block title %}Contact | ACMx Labs{% endblock %}

{% block content %}
    <div class="slider">
      <div class="welcome">
       <div class="container-fluid">
          <div class="row">
            <div class="col-md-offset-2 col-md-5">
              <h1>Contact us!</h1>
            </div>

            <div class="col-md-3">
              <p><strong>President:</strong>&nbsp;<a href="mailto:shamrick@mymail.mines.edu">Steve Hamrick</a></p>
              <p><strong>Vice President:</strong>&nbsp;<a href="mailto:vkadiris@mymail.mines.edu">Vishnu Kadirisani</a></p>
              <p><strong>Secretary:</strong>&nbsp;<a href="mailto:nttran@mymail.mines.edu">Nhan Tran</a></p>
              <p><strong>Treasurer:</strong>&nbsp;<a href="mailto:achampio@mymail.mines.edu">Alan Champion</a></p>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
            <p>Come to our meeting, BB 316A at 6pm every Tuesday</p><br>
            <p>Click <a href="https://mailman.mines.edu/mailman/listinfo/acmx">here</a> to join our Mailing List!</p><br>
            <a href="https://github.com/ColoradoSchoolOfMines"><i class="fa fa-github fa-4x"></i>&nbsp;GitHub</a><br><br>
            <a href="https://trello.com/acmx"><i class="fa fa-trello fa-4x"></i>&nbsp; Trello</a><br><br>
            <a href="https://twitter.com/acmxlabs"><i class="fa fa-twitter fa-4x"></i>&nbsp; Twitter</a><br><br>
           <a href="https://orgsync.com/66700/chapter"><i class="fa fa-orgsync fa-4x"></i>&nbsp; OrgSync</a><br><br>
           </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
