{% extends "projects/base.html" %}
{% load staticfiles %}

{% block title %}{{ project.title }} | ACMx Labs{% endblock %}

{% block content %}
    <nav>
        {% for page in project.pages %}
            <!-- Link to custom project pages. Use AJAX stuff to avoid
                 having to define more urls in Django -->
            <a href="">{{ page }}</a>
        {% endfor %}
    </nav>

    <div class="project_intro" 
         style="background-image: url('{% static 'projects/MilkyWayWallpaper.jpg' %}')">
        <div class="wordbox">
            <h1>{{ project.title }}</h1>
            <!-- TODO: Replace this with the ajaxy pages[page] stuff. -->
        </div>
    </div>
    <div class="content_container">
        <div class="project_details">
            <h1>About this project</h1>
            {{ project.description }}
        </div>
    </div>
{% endblock %}
