{% load staticfiles %}

<script src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet" href="{% static 'projects/style.css' %}" />

<img id="gigabot" width="100" src="{% static 'projects/transgigabot.gif' %}" />
<div id="header">
    <img id="logo" width="350" src="{% static 'projects/acmx.png' %}" />
    <div id="menu_container">
    <div id="about" class="button menu_element"><a href="/about">about</a></div>
    <div id="contact" class="button menu_element"><a href="/contact">contact</a></div>
    <div id="support" class="button menu_element"><a href="/support">support<</div>
    <input id="search" class="menu_element" type="text" placeholder="search" />
    <div id="search_button" class="button menu_element">
        <img src="{% static 'projects/search.png' %}" height="34" /></div>
    </div>
</div>

<div id="content">
{% if latest_project_list %}
    {% for project in latest_project_list %}
        <div class="square">
            <a href="{% url 'projects:detail' project.project_id %}">{{ project.title }}</a>
        </div>
    {% endfor %}
{% else %}
    <p>No projects are available.</p>
{% endif %}
</div>

<div id="footer">
&copy;2013 acmxlabs.org
</div>

<script>
// make squares... square
$('.square').each(function(){
	var color = 'rgb(85,85,' + (85 + Math.ceil(150*Math.random())) + ')';
	$(this).css({'background-color':color});
});
$('.square').height($('.square').width());
$(window).resize(function(){
	$('.square').height($('.square').width());
});

// search bar causes gross jumpiness in Chrome
// // awesome search bar (css animate won't cut it)
// $('input#search').focus(function(){
// 	$(this).animate({'width':'200px'});
// }).blur(function(){
// 	if($(this).val() == '' || $(this).val() == undefined){
// 		$(this).animate({'width':'74px'});
// 	}
// });

// animate gigabot
var gigabot = $('#gigabot');
var speed = 10;
var width = $(gigabot).width();
$(window).keydown(function(e){
	if(e.which == 37 && $(gigabot).css('margin-left') > '0px'){
		// left
		$(gigabot).css({'margin-left':'-=' + speed});
		console.log('left');
	}else if(e.which == 39 && document.getElementById('gigabot').getBoundingClientRect().left + width + 10 < window.innerWidth){
		// right
		$(gigabot).css({'margin-left':'+=' + speed});
	}
});
</script>
</html>
