{% extends "projects/base.html" %}
{% load staticfiles %}

{% block title %}ACMx Labs{% endblock %}

{% block content %}
    <div id="spacer"></div>
    <div class="slider">
        <div class="wordbox">
            <h1>Make something epic. Share it.</h1>
            We are the Association for Computing Machinery group on
            campus at the Colorado School of Mines, but we’ve raised
            our pirate flag and gone adrift.
            <br><br>
            Lorem ipsum <a href="{% url 'projects:project_list' %}">link to projects</a>.
        </div>
    </div>
<!-- <div class="slider">
<div class="wordbox">
<h1>Glarb</h1>
We are the Association for Computing Machinery group on campus at the Colorado School of Mines, but we’ve raised our pirate flag and gone adrift.
</div>
</div>
<div class="slider">
<div class="wordbox">
<h1>Floop.</h1>
We are the Association for Computing Machinery group on campus at the Colorado School of Mines, but we’ve raised our pirate flag and gone adrift.
</div>
</div> -->
<script src="{% static 'projects/parallax.js' %}"></script>
</body>
{% endblock %}
