{% extends "projects/base.html" %}
{% load staticfiles %}
{% block title %}ACMx Labs{% endblock %}
{% block content %}
    <div class="slider">
        <div class="welcome">
            <div class="container-fluid col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="row">
                    <div class="col-mid-8" style="padding-bottom: 200px">
                        {% if user.is_authenticated %}
                            <h1> Welcome to ACMx!</h1>
                            <p>You are now logged in, congrats</p>

<ul>
    {% for project in project_list %}
        <li>{{ project.title }}</li>
    {% empty %}
        <li>No projects yet</li>
    {% endfor %}
</ul>

<div id="accordion">
    <hgroup>
        <h3>ACMx Website</h3>
        <h5>Designing acmxlabs.org for the Club</h5>
    </hgroup>
    <div>
        <p>The acmxlabs.org website is the main form of communication between the club and the student body, where students and club members can view what projects are currently in production. They can view different projects, the goal of each project, languages used, team members, and more.</p>
        <p>Primary Languages Used: HTML, CSS, JavaScript, Python (Django framework)</p>
        <p>Contributors: Ryan Shipp (lead), Jack Rosenthal, Danny Romero</p>
        <p>GitHub link(s): https://github.com/ColoradoSchoolOfMines/acmx_website</p>
        <img>
    </div>
    <hgroup>
        <h3>Project 2</h3>
        <h5>-- Short description --</h5>
    </hgroup>
    <div>
        <p>-- Long description --</p>
        <p>-- Primary Languages Used --</p>
        <p>-- Contributors --</p>
        <p>-- GitHub link(s) --</p>
    </div>
    <hgroup>
        <h3>Project 3</h3>
        <h5>-- Short description --</h5>
    </hgroup>
    <div>
        <p>-- Long description --</p>
        <p>-- Primary Languages Used --</p>
        <p>-- Contributors --</p>
        <p>-- GitHub link(s) --</p>
    </div>
    <hgroup>
        <h3>Project 4</h3>
        <h5>-- Short description --</h5>
    </hgroup>
    <div>
        <p>-- Long description --</p>
        <p>-- Primary Languages Used --</p>
        <p>-- Contributors --</p>
        <p>-- GitHub link(s) --</p>
    </div>
</div>

                        {% else %}
                            <h1>Make something epic. Share it.</h1>
                            <p>We are the Association for Computing Machinery group on campus at the Colorado School of Mines.</p>
                            <p>We are a group of creators with a heavy focus on real-life projects that are relevant to both students and industry alike. We work with all disciplines, with members from electrical, petroleum, physics, and computer engineering.</p>
                            <p>We do elementary outreach to increase interest in our craft, as well as regularly compete in code competitions to sharpen it. Our projects range from wireless mesh parking sensor networks to remote tele-presence robots. Sign in to view all our projects!</p>
                            <h4>We are what we create. What else is there?</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<script src="{% static 'projects/parallax.js' %}"></script>-->
{% endblock %}