{% extends "projects/base.html" %}
{% load staticfiles %}

{% block extra_includes %}
    <link rel="stylesheet" href="{% static 'projects/editor.css' %}"/>
    <script type="text/javascript" src="{% static 'projects/editor.js' %}"></script>
    <script type="text/javascript" src="{% static 'projects/marked.js' %}"></script>
{% endblock %}

{% block title %}New Project | ACMx Labs{% endblock %}

{% block content %}
    <div id="page_content">
        <h3>Create a new project!</h3>
        <form action="{{ action }}" method="POST">
            {% csrf_token %}
            <div id="project_create">
                <span style="padding:5em">Title:</span> <input type="text" name="title" value="{{ title }}"><br>
                <span style="padding:5em">Description:</span> <input type="text" name="description" value="{{ description }}"><br>
                <span style="padding:5em">Long Description:</span> <textarea name="long_description" value="{{ long_description }}" rows=5 cols=40></textarea><br>
                <span style="padding:5em">GitHub Link(s):</span> <input type="text" name="link" value="{{ link }}"><br>
                <input type="submit" name="submit" value="Create">
            </div>
        </form>

        <script>
        var editor = new Editor();
        editor.render();
        </script>
    </div>
{% endblock %}
